@font-face {
  font-family: 'TT Lakes Regular';
  src: url('./styles/TTLakes-Regular.eot');
  src: url('./styles/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
  url('./styles/TTLakes-Regular.woff') format('woff'),
  url('./styles/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes Medium';
  src: url('./styles/TTLakes-Medium.eot');
  src: url('./styles/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
  url('./styles/TTLakes-Medium.woff') format('woff'),
  url('./styles/TTLakes-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes Bold';
  src: url('./styles/TTLakes-Bold.eot');
  src: url('./styles/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
  url('./styles/TTLakes-Bold.woff') format('woff'),
  url('./styles/TTLakes-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'TT Lakes Regular';
  font-size: 16px
}
