@font-face {
  font-family: 'TT Lakes Regular';
  src: url('TTLakes-Regular.eot');
  src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
  url('TTLakes-Regular.woff') format('woff'),
  url('TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes Medium';
  src: url('TTLakes-Medium.eot');
  src: url('TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
  url('TTLakes-Medium.woff') format('woff'),
  url('TTLakes-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes Bold';
  src: url('TTLakes-Bold.eot');
  src: url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
  url('TTLakes-Bold.woff') format('woff'),
  url('TTLakes-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'TT Lakes Regular';
  font-size: 16px;
  margin: 0;
}

.page-content {
  background-color: #F8F8F8;
}

.page-title {
  font-family: 'TT Lakes Bold';
  font-size: 2rem;
  line-height: 1.43;
}

.hero__paragraph {
  font-size: .875rem;
  line-height: 1.29;
}

.slide-menu__item {
  font-size: 1rem;
  line-height: 1.5
}

.expand-button {
  display: flex;
  font-family: 'TT Lakes Medium';
  font-size: 1rem;
  line-height: 1.5;
  border: none;
  background-color: inherit;
  height: 24px;
  margin-left: 5%;
  padding: 0;
  cursor: pointer;
  text-align: left;
  letter-spacing: -0.2px;
}
.expand-button::before {
  content: "";
  width: 24px; /*3 / 40*/
  height: 24px;
  background: transparent url('./../img/icon-readmore.svg') 50% 50% no-repeat;
  background-size: contain;
}
